:root {
  --primary: #4bffb3;
  --primary-dark: #00a86b;
  --primary-light: #aaffd5;
  --secondary: #4b7dff;
  --secondary-dark: #0041b3;
  --secondary-light: #a7c2ff;
  --primary-opacity: rgba(75, 255, 179, 0.26);
  --background: #262626;
  --background-light: #545454;
  --background-card: #3d3d3d;
  --background-button: #fcfcfc;
  --white: #fcfcfc;
  --background-icon: #2e2e2e;
  --background-primary: #fcfcfc;
  --text-primary: #fcfcfc;
  --text-primary-light: #808080;
  --text-secondary: rgba(252, 252, 252, 0.589);
  --text-tertiary: #3d3d3d;
  --shadow-primary: 1px 1px 20px 1px rgba(0, 0, 0, 0.15);
  --shadow-text: 0px 1px 2px rgba(0, 0, 0, 1);
  --radius-cards: 20px;
  --radius-button: 15px;
  --radius-light: 10px;
  --radius-superlight: 5px;
  --radius-full: 50%;
  --border-white: 2px solid var(--white);
  --border-transparent: 2px solid transparent;
  --background-blur-layout: rgba(46, 46, 46, 0.3);
  --background-disabled: #428166;
  --color-error: #ff6b4b;
  --toastify-color-success: #20ca82;
  --alert-primary: #20ca82;
  --card-hover: rgba(0, 0, 0, 0.048);
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins";
}

a,
li {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

input,
button,
textarea {
  outline: none;
  border: none;
  background: none;
}

button {
  cursor: pointer;
}

body {
  color: var(--text-primary);
  background-color: var(--background);
}
