* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

a,
li {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

input,
button,
textarea {
  outline: none;
  border: none;
  background: none;
}

button {
  cursor: pointer;
}
